<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="kr.green.game.dao.BasketDao">
	  <select id="getBasketList" resultType="kr.green.game.vo.BasketVo">
	  	select * from basket 
	  	join game on basket.gameNum = game.gameNum
	  	join (select * from image where isimg = 'M' and isdel = 'N') as img on game.gameNum = img.gameNum
	  	where id = #{user.id} and game.isdel = 'N' order by basket.basketNum desc;
	  </select>
  </mapper>