<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="kr.green.game.dao.GameDao">
  	<select id="getGameList" resultType="kr.green.game.vo.GameVo">
    	select * from game where isdel = 'N' order by gameNum desc
	</select>
  	<insert id="insertGame" useGeneratedKeys="true" keyProperty="game.gameNum" parameterType="kr.green.game.vo.GameVo">
		insert into game(title,content,longcontent,price,launch,company,tags)
		values(#{game.title},#{game.content},#{game.longcontent},#{game.price},#{game.launch},#{game.company},#{game.tags})
	</insert>
	<insert id="insertFile">
    	insert into image(gameNum, oriFilename, filename)
    	values(#{gameNum}, #{filename}, #{path})
    </insert>
    <select id="getgame" resultType="kr.green.game.vo.GameVo">
    	select * from game where gameNum = #{gameNum} and isdel = 'N'
	</select>
	<select id="getImglist" resultType="kr.green.game.vo.ImgVo">
		select * from image where gameNum = #{gameNum} and isdel ='N'
	</select>
  </mapper>