<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="kr.green.game.dao.GameDao">
  	<select id="getGameList" resultType="kr.green.game.vo.GameVo">
    	select * from game where isdel = 'N' 
    	<if test="cri.type == 1">
    		and title like concat('%',#{cri.search},'%')
    	</if>
    	<if test="cri.type == 2">
    		and longcontent like concat('%',#{cri.search},'%')
    	</if>
    	<if test="cri.type == 3">
    		and company like concat('%',#{cri.search},'%')
    	</if>
    	order by gameNum desc limit #{cri.pageStart}, #{cri.perPageNum}
	</select>
  	<insert id="insertGame" useGeneratedKeys="true" keyProperty="game.gameNum" parameterType="kr.green.game.vo.GameVo">
		insert into game(title,content,longcontent,price,disprice,launch,company,tags)
		values(#{game.title},#{game.content},#{game.longcontent},#{game.price},#{game.price},#{game.launch},#{game.company},#{game.tags})
	</insert>
	<insert id="insertFile">
    	insert into image(gameNum, oriFilename, filename, isimg)
    	values(#{gameNum}, #{filename}, #{path}, #{isimg})
    </insert>
    <select id="getgame" resultType="kr.green.game.vo.GameVo">
    	select * from game where gameNum = #{gameNum} and isdel = 'N'
	</select>
	<select id="getmainimg" resultType="kr.green.game.vo.ImgVo">
    	select * from image where gameNum = #{game.gameNum} and isdel = 'N' and isimg = 'M'
	</select>
	<select id="getImglist" resultType="kr.green.game.vo.ImgVo">
		select * from game 
		join (select * from image where isimg = 'M' and isdel = 'N') as img 
    	on game.gameNum = img.gameNum 
    	where title like concat('%',#{cri.search},'%') 
    	order by game.gameNum desc limit #{cri.pageStart}, #{cri.perPageNum};
	</select>
	<select id="getImgAlllist" resultType="kr.green.game.vo.ImgVo">
    	select * from image
    	join (select * from game where isdel = 'N') as game
    	on image.gameNum = game.gameNum
    	where image.gameNum = #{game.gameNum} and image.isdel = 'N' and image.isimg = 'S'
	</select>
	<select id="getMimgList" resultType="kr.green.game.vo.ImgVo">
    	select * from image
    	join (select * from game where isdel = 'N') as game
    	on image.gameNum = game.gameNum
    	where image.gameNum = #{game.gameNum} and image.isdel = 'N' and image.isimg = 'M'
	</select>
	<update id="updateGame" parameterType="kr.green.game.vo.GameVo">
		update game set title=#{game.title},content=#{game.content},longcontent = #{game.longcontent},price = #{game.price}
								,launch = #{game.launch},company = #{game.company},tags = #{game.tags},isdel = #{game.isdel}
								where gameNum = #{game.gameNum}
	</update>
	<select id="getTotalCount" resultType="int">
		select count(*) from game where isDel = 'N'
		<if test="cri.type == 1">
    		and title like concat('%',#{cri.search},'%')
    	</if>
    	<if test="cri.type == 2">
    		and longcontent like concat('%',#{cri.search},'%')
    	</if>
    	<if test="cri.type == 3">
    		and company like concat('%',#{cri.search},'%')
    	</if>
		order by gameNum desc
	</select>
	<insert id="insertBasket" parameterType="kr.green.game.vo.BasketVo">
		insert into basket(gameNum,id) values (#{game.gameNum},#{user.id})
	</insert>
	<update id="deleteFile">
		update image set isDel='Y' where gameNum = #{gameNum}
	</update>
	<update id="deleteMainimg">
		update image set isDel='Y' where imgNum = #{imgNum}
	</update>
	<!-- <delete id="reDeleteFile">
		DELETE FROM image WHERE isdel = 'Y';
	</delete> -->
	<select id="getBuyList" resultType="kr.green.game.vo.BuyVo">
		select * from buy
	  	join game on buy.gameNum = game.gameNum
	  	join (select * from image where isimg = 'M' and isdel= 'N') as img on game.gameNum = img.gameNum
        join user on buy.id = user.id
	  	where user.id = #{user.id} and isbuy = 'Y' order by buyNum desc;
	</select>
	<insert id="insertBuy" parameterType="kr.green.game.vo.BasketVo">
		insert into buy(gameNum,id) values(#{game.gameNum},#{user.id})
	</insert>
	<insert id="insertdiscount" parameterType="kr.green.game.vo.DiscountVo" >
		insert into discount(gameNum,discount,discountTime) values (#{game.gameNum},#{dis.discount},#{dis.discountTime})
	</insert>
	<update id="updateDisprice">
		update game set disprice = #{game.disprice}, isdiscount='Y' where gameNum = #{game.gameNum}
	</update>
	<select id="getDiscount" resultType="kr.green.game.vo.DiscountVo">
		select * from discount 
		join (select * from game where isdel = 'N') as game on discount.gameNum = game.gameNum
		where discount.gameNum = #{gameNum} and discountTime > now();
	</select>
	<update id="updateMainView">
		update game set mainview = 'M', isdel='N' where gameNum = #{game.gameNum}
	</update>
	<update id="updateMaindelete">
		update game set mainview = 'N', isdel='N' where gameNum = #{game.gameNum}
	</update>
	<select id="selectMList" resultType="kr.green.game.vo.GameVo">
		select * from game
    	join (select * from image where isdel = 'N') as img
    	on game.gameNum = img.gameNum
    	where game.mainview = 'M' and game.isdel = 'N' group by game.gameNum;
	</select>
	<select id="selectmsSubList" resultType="kr.green.game.vo.ImgVo">
		select * from image
    	join (select * from game where isdel = 'N') as game on image.gameNum = game.gameNum
    	LEFT join (select * from discount) as dis on game.gameNum = dis.gameNum
    	where image.isdel = 'N' and game.mainview = 'M';
	</select>
	<select id="selectmsList" resultType="kr.green.game.vo.ImgVo">
		select * from image
    	join (select * from game where isdel = 'N') as game on image.gameNum = game.gameNum
    	LEFT join (select * from discount) as dis on game.gameNum = dis.gameNum
    	where image.isdel = 'N' and game.mainview = 'M' and isimg = 'M' order by rand() limit 0,10;
	</select>
	<select id="getBasket" resultType="kr.green.game.vo.BasketVo">
    	select * from basket where basket.gameNum = #{gameNum} and basket.id = #{id} and isdel = 'N'
	</select>
	<select id="selectDiscountGameList" resultType="kr.green.game.vo.GameVo">
    	select * from game
    	join (select * from image where isdel = 'N') as img on game.gameNum = img.gameNum
        LEFT join (select * from discount) as dis on game.gameNum = dis.gameNum
    	where game.isdiscount = 'Y' and game.isdel = 'N' group by game.gameNum limit 0,#{count};
	</select>
	<select id="selectDiscountImgList" resultType="kr.green.game.vo.ImgVo">
    	select * from image
    	join (select * from game where isdel = 'N' and isdiscount = 'Y') as game on image.gameNum = game.gameNum
        LEFT join (select * from discount) as dis on image.gameNum = dis.gameNum
    	where image.isimg = 'M' and image.isdel = 'N' order by rand() limit 0,#{count};
	</select>
<!-- 	<select id="selectNewList" resultType="kr.green.game.vo.ImgVo">
    	select * from game
    	join (select * from image where isdel = 'N') as img on game.gameNum = img.gameNum
        LEFT join (select * from discount) as dis on game.gameNum = dis.gameNum
    	where game.isdel = 'N'  group by game.gameNum order by DATE(launch) DESC limit 0,#{count};
	</select> -->
<!-- 	<select id="selectTapsublist" resultType="kr.green.game.vo.ImgVo">
    	select	* from game
			join (select * from image where isdel = 'N') as img on game.gameNum = img.gameNum
			LEFT join (select * from discount) as dis on game.gameNum = dis.gameNum
			where game.isdel = 'N' order by DATE(launch)DESC,imgNum asc limit 0,#{count};
	</select> -->
	<select id="selectTapmainlist" resultType="kr.green.game.vo.ImgVo">
    	select * from game
    	join (select * from image where isdel = 'N') as img on game.gameNum = img.gameNum
        LEFT join (select * from discount) as dis on game.gameNum = dis.gameNum
    	where game.isdel = 'N'  group by game.gameNum order by DATE(launch) DESC limit 0,#{count};
	</select>
	<select id="selectTapsublist" resultType="kr.green.game.vo.ImgVo">
    	select	* from game
			join (select * from image where isdel = 'N') as img on game.gameNum = img.gameNum
			LEFT join (select * from discount) as dis on game.gameNum = dis.gameNum
			where game.isdel = 'N' order by DATE(launch)DESC,imgNum asc limit 0,#{count};
	</select>
	<select id="selectDiscount" resultType="kr.green.game.vo.DiscountVo">
		select * from discount
    	join (select * from game where isdel = 'N') as game
    	on discount.gameNum = game.gameNum
    	where discount.gameNum = #{game.gameNum};
	</select>
	<select id="selectSublist" resultType="kr.green.game.vo.ImgVo">
    	select * from image where gameNum = #{gameNum}
	</select>
	<update id="updateimgisdel">
		update image set image.isdel='Y' where image.imgNum = #{imgNum} and image.isimg = 'S'
	</update>
	<update id="updateisdiscount">
		update game set game.disprice = '0', isdiscount='N' where game.gameNum = #{game.gameNum}
	</update>
	<delete id="deletediscount">
		DELETE FROM discount WHERE gameNum = #{dis.gameNum};
	</delete>
  </mapper>