<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="kr.green.game.dao.GameDao">
  	<select id="getGameList" resultType="kr.green.game.vo.GameVo">
    	select * from game where isDel = 'N' 
	</select>
  	<insert id="insertGame" useGeneratedKeys="true" keyProperty="game.gameNum" parameterType="kr.green.game.vo.GameVo">
		insert into game(title,content,price,launch,company,tags)
		values(#{game.title},#{game.content},#{game.price},#{game.launch},#{game.company},#{game.tags})
	</insert>
  </mapper>