<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.green.game.dao.UserDao">
	<insert id="insertUser" parameterType="kr.green.game.vo.UserVo">
  	insert into user(id,name,pw,email,phone)
  		values(#{user.id},#{user.name},#{user.pw},#{user.email},#{user.phone})
  	</insert>
  	<select id="getUser" resultType="kr.green.game.vo.UserVo">
    	select * from user where id = #{id}
  	</select>
  	<update id="updateMoney" parameterType="kr.green.game.vo.UserVo">
  		update user set money = money + #{money} where id = #{user.id}
  	</update>
  	<update id="updateUser">
  		update user set pw = #{user.pw}, email = #{user.email}, phone = #{user.phone}, money = #{user.money} 
  		where id = #{user.id}
  	</update>
  	<insert id="insertCustomer" parameterType="kr.green.game.vo.CustomerVo">
	  	insert into customer(id,title,content,objcontent,kind)
	  		values(#{user.id},#{cus.title},#{cus.content},#{cus.objcontent},#{cus.kind})
  	</insert>
  	<select id="getTotalCount" resultType="int">
		select count(*) from customer where isDel = 'N'
		order by cusNum desc
	</select>
	<select id="getcuslist" resultType="kr.green.game.vo.CustomerVo">
    	select * from customer where isdel = 'N' and customer.id = #{user.id} 
    	order by cusNum desc limit #{cri.pageStart}, #{cri.perPageNum}
	</select>
	<select id="getobjcuslist" resultType="kr.green.game.vo.CustomerVo">
    	select * from customer where isdel = 'N'
    	order by cusNum desc limit #{cri.pageStart}, #{cri.perPageNum}
	</select>
	<select id="getcus" resultType="kr.green.game.vo.CustomerVo">
    	select * from customer where isdel = 'N' and cusNum = #{cusNum}
	</select>
	<update id="updatecus" parameterType="kr.green.game.vo.CustomerVo">
		update customer set objcontent=#{cus.objcontent},objregisterDate=now(),processing = #{cus.processing}
								where cusNum = #{cus.cusNum}
	</update>
</mapper>
